<footer class="nike-footer">
  <div class="container-fluid">
    <div class="row">
      <!-- Help links column -->
      <div class="col-md-3 col-sm-6 footer-col">
        <h5 class="footer-title">المساعدة</h5>
        <ul class="footer-links">
          <li><a href="#">تتبع الطلب</a></li>
          <li><a href="#">الشحن والتوصيل</a></li>
          <li><a href="#">الإرجاع</a></li>
          <li><a href="#">خيارات الدفع</a></li>
          <li><a href="#">اتصل بنا</a></li>
        </ul>
      </div>

      <!-- About Nike column -->
      <div class="col-md-3 col-sm-6 footer-col">
        <h5 class="footer-title">عن نايكي</h5>
        <ul class="footer-links">
          <li><a href="#">نايكي</a></li>
          <li><a href="#">الأخبار</a></li>
          <li><a href="#">الوظائف</a></li>
          <li><a href="#">المستثمرون</a></li>
          <li><a href="#">الاستدامة</a></li>
        </ul>
      </div>

      <!-- Nike Apps column -->
      <div class="col-md-3 col-sm-6 footer-col">
        <h5 class="footer-title">تطبيقات نايكي</h5>
        <ul class="footer-links">
          <li><a href="#">تطبيق نايكي</a></li>
          <li><a href="#">نايكي رن كلوب</a></li>
          <li><a href="#">نايكي ترينينغ كلوب</a></li>
        </ul>
      </div>

      <!-- Social links column -->
      <div class="col-md-3 col-sm-6 footer-col">
        <h5 class="footer-title">تواصل معنا</h5>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <!-- Footer bottom section -->
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-info">
            <a href="#">شروط الخدمة</a>
            <a href="#">شروط البيع</a>
            <a href="#">تفاصيل الشركة</a>
            <a href="#">سياسة الخصوصية</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="copyright">
            <p>© كل الحقوق محفوظة ٢٠٢٥ Nike</p>
            <div class="language-selector">
              <a href="#" class="language-link">English</a>
              |
              <a href="#" class="language-link active">العربية</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
