<header class="nike-header">
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-end">
          <div class="top-links">
            <a href="#" class="top-link">
              <i class="fas fa-map-marker-alt"></i>
              تتبع الطلب
            </a>
            <a href="#" class="top-link">
              <i class="fas fa-truck"></i>
              الشحن والتسليم
            </a>
            <a href="#" class="top-link">
              <i class="fas fa-exchange-alt"></i>
              الإرجاع
            </a>
            <a href="#" class="top-link">
              <i class="fas fa-headset"></i>
              المساعدة
            </a>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-start">
          <div class="language-selector">
            <a href="#" class="top-link">English</a>
            <span class="mx-2">|</span>
            <a href="#" class="top-link active">العربية</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->
  <div class="main-nav">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-2 col-md-2">
          <div class="nike-logo">
            <a href="/">
              <img src="https://ext.same-assets.com/3759566276/2329474387.svg+xml" alt="Nike" class="logo-img">
            </a>
          </div>
        </div>
        <div class="col-6 col-md-6">
          <nav class="primary-nav d-none d-md-block">
            <ul class="nav-list">
              <li class="nav-item"><a href="#" class="nav-link">التخفيضات</a></li>
              <li class="nav-item"><a href="#" class="nav-link">الجديد</a></li>
              <li class="nav-item"><a href="#" class="nav-link">نساء</a></li>
              <li class="nav-item"><a href="#" class="nav-link">رجال</a></li>
              <li class="nav-item"><a href="#" class="nav-link">أطفال</a></li>
              <li class="nav-item"><a href="#" class="nav-link">جوردن</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-4 col-md-4">
          <div class="header-tools">
            <div class="search-box">
              <input type="text" class="search-input" placeholder="بحث">
              <i class="fas fa-search search-icon"></i>
            </div>
            <div class="header-icons">
              <a href="#" class="header-icon">
                <i class="far fa-heart"></i>
              </a>
              <a href="#" class="header-icon">
                <i class="fas fa-shopping-bag"></i>
              </a>
              <a href="#" class="header-icon d-md-none">
                <i class="fas fa-bars"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Promo Banner -->
  <div class="promo-banner">
    <div class="container-fluid">
      <p class="promo-text text-center">
        أطلب بقيمة أكثر من 500 ريال واحصل على خصم 30%. استخدم الرمز الترويجي <a href="#">هنا</a>
      </p>
    </div>
  </div>
</header>
