
<a routerLink="/dashboard/addcategory" class="inline-block rounded-xl bg-black px-8 py-4 text-center font-semibold text-white [box-shadow:rgb(19,_83,_254)_6px_6px]">Add New Category</a>
<br />
<br />
<hr />
<br />
<br />

<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Latest Category</h5>
    <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
      View all
    </a>
  </div>
  <div class="flow-root">
    <ul *ngFor="let item of prodata" role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      <li class="py-3 sm:py-4">
        <div class="flex items-center">
          <div class="shrink-0">
            <img class="w-8 h-8 rounded-full" src="{{item.img}}" alt="{{item.img}}">
          </div>
          <div class="flex-1 min-w-0 ms-4">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
              {{item.name}}
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
              {{item.img}}
            </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <a routerLink="/dashboard/editcategory/{{item.id}}">Edit</a>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
