
<section class="relative h-screen bg-gray-300 md:h-screen">
  <!-- Container -->
  <div class="absolute inset-0 m-auto w-[90%] max-w-3xl bg-white md:h-96 lg:w-full">
    <!-- Content -->
    <div class="mx-auto flex max-w-xl flex-col p-10 md:py-20">
      <!-- Title -->
      <h3 class="mb-2 text-2xl font-bold md:text-4xl">
        Newsletter Signup
      </h3>
      <p class="mb-6 text-sm text-gray-500 sm:text-base lg:mb-8">
        Egestas consectetur a cras aliquam tincidunt tellus quam. Quis
        faucibus tincidunt etiam sed
      </p>
      <!-- Form -->
      <form name="email-form" method="get" class="flex items-center relative mb-4 max-w-full rounded-md border border-solid border-black px-1 focus-within:outline focus-within:outline-2">
        <input type="email" class="flex-1 h-9 px-3 py-6 text-sm text-black placeholder:text-black focus:outline-none" placeholder="Enter your email" required="" />
        <input type="submit" value="Subscribe" class="w-auto cursor-pointer rounded-md bg-black px-6 py-2 font-semibold text-white" />
      </form>
      <p class="text-sm text-gray-500">
        Zero spam. Only quality pixels.
      </p>
    </div>
  </div>
</section>
